body 

/* {
    background: -webkit-linear-gradient(#c23aa0, #C9DCB9); 
    background: -o-linear-gradient(#93B874, #C9DCB9); 
    background: -moz-linear-gradient(#93B874, #C9DCB9); 
    background: linear-gradient(#93B874, #C9DCB9); 
    background-color: #93B874; 
} */


{
    background: rgb(255,0,0); 
    background: linear-gradient(0deg, rgba(255,0,0,1) 39%, rgba(255,134,4,1) 61%);
    margin: 0px;
    padding: 0px;
}


a {
    text-decoration: unset;
}



.navigation {
    /* height: 15px; */
    margin: 15px 5px 50px 400px; 

    padding: 5px 5px 25px 25px;
    justify-content: flex-start;
}
.navigation > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation> ul >li {
    float: left;
    margin-left: 75px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center ;
    /* align-items: center; */
    width: 30px;
    height: 10px;
    border-radius: 50px;
    /* background: linear-gradient(0deg, rgba(196, 236, 14, 1) 39%, rgb(5, 172, 75) 61%); */

}


.menu{
    background:image("https://img-s1.onedio.com/id-58383dd45101e8b81026547c/rev-0/w-719/s-0077dd1042897523ed4e7606c43c919d17df26ba.jpg");
    padding: 5px 5px 5px 15px;
    margin: 50px 0 0 150px ;
}
.menu ul{
	list-style-type: none;  /* listenin önündeki işareti kaldırır. */
	margin: 0px;
	padding: 0px;
}
.menu ul li{
	 float: left;   /*	liste elemanlarını yanyana getirir. */
}
.clean{
    clear: both;
}
.menu ul li a{
    display: block;
    line-height: 30px;
    border: 1px solid #fff;
    background: #4b5d64;
    padding: 10px 25px;
    text-decoration: none;   /* alt çizgiyi kaldırır. */
    font-weight: bold;
    margin-right: 5px;
    color: white; 
}
.menu ul li a:hover{
    color:#000;
    border: 1px solid #000;
    background: #d6edc8; 
}





.top-content{
    margin: 0 25px 25px 25px;
    
}



.header{
    height: 125px;
    width: 1050px;
    display: flex;
}
.header-text {
    width: 650px;
    margin:auto;
}
.header-image {
    padding: 20px 50px 50px 50px;
    text-align: center;
}
.header-image>img {
    /* padding: 20px 50px 50px 50px; */
    border-radius: 50%;
    
}


.top-content {
    padding: 5px 5px 5px 5px;
    width: 1100px;
    margin:100px 95px 25px 100px;
    font-family: 'Oswald', sans-serif;
        font-weight: 300;
}


.middle-content {
    display: flex;
    justify-content: space-around;
}
.middle-content-pic {
    float:left;
    padding: 0 50px 0px 20px;        
} 
.middle-content-text {
    float: right;
    width: 850px;
    font-family: 'Oswald', sans-serif;
        font-weight: 200;
}




.bottom-content{
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between; */ 
}

.bottom-text{
    padding:30px;
    font-family: 'Oswald', sans-serif;
        font-weight: 200;
        color: blanchedalmond;
}


.navigation > ul > li > a{

    width: 30px ;
    height: 30px; 
    /* color: black ; */
    /* font-family: 'Oswald', sans-serif; */ 
   /* font-weight: 400; */
}



.footer{ 
    background-color: grey;
    color:black;
    width: auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.footer-left {
    font-size:0.9em;

    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-right {
    font-size:1.3em;
    font-weight: bold;
    padding-top: 15px ;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-right, .footer-left > p {
    margin: 0px;
}